.DS_Store
.vscode/
/doc/*/*.pdf
/doc/*/*.aux
/doc/*/*.bbl
/doc/*/*.bcf
/doc/*/*.blg
/doc/*/*.fdb_latexmk
/doc/*/*.fls
/doc/*/*.lof
/doc/*/*.log
/doc/*/*.lot
/doc/*/*.out
/doc/*/*.run.xml
/doc/*/*.synctex.gz
/doc/*/*.synctex(busy)
/doc/*/*.toc
/doc/*/*.ist
/doc/*/*.bak
!/docs/Afbeeldingen/*.pdf